# Dependencies
node_modules/
package-lock.json

# Logs & Databases
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/threats.json
*.log

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
